#head{padding:13px 15px 13px 15px ;
	 border-bottom: solid 1px #EEEEEE;
	 background-color: white;}
#head a{display: block;height: 19px;width: 0.2rem;
		background-image: url(../img/pihead.png);
		background-repeat: no-repeat;
		background-size:12px 19px ;}
#head p{text-align: center;
        width: 40%;
        margin-left: 24.3%;
		font-size: 18px;
		color: #333333;
		margin-left: ;
		}
#content{width: 100%;height:1.04rem;
		background-image:url(../img/shop1.png) ;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 0.78rem 0.78rem;
		}
#content1{border: none;
			border-bottom: 0.05rem solid #EEEEEE;
			border-top: 0.05rem solid #EEEEEE;
			padding-left: 0.15rem;
			line-height: 0.45rem;
			width: 100%;
			}
#content2{width: 100%;
		height: 1.3rem;
		border: none;
		border-bottom: 0.05rem solid #EEEEEE;
		}		
#content3{width: 100%;
			padding-left: 0.15rem;	
			border-bottom: 0.05rem solid #EEEEEE;	
}
#content3 p{line-height: 0.45rem;width: 22%;				
}	
#content3 input{line-height: 0.45rem;
				border: none;
				text-align: right;
								
}
#content4 li{margin-left: 0.15rem; border-bottom: solid 1px #EEEEEE;
             } 
#content4 li p{line-height: 0.45rem;width: 22%;	}
#content4 li input{line-height: 0.45rem;border: none;width:60%; text-align: right;margin-right: 0.15rem;}


.button{width: 92%;height: 0.45rem;margin-left: 4%;border-radius: 5px;text-align: center;color: white;background: #7EB1FE;border: none;margin-top: 0.2rem;margin-bottom: 0.2rem;}


	
#bottom {height: 0.45rem;
		width: 3.75rem;
		background: white;
         padding-top: 0.05rem;
         padding-bottom: 0.05rem;
		border-top: solid 1px #EEEEEE;
		border-bottom: solid 1px #EEEEEE;}
			
#bottom a{box-sizing: border-box;
			display: block;
			width: 25%;
			border-left: solid 1px #EEEEEE;
			
			}

#bottom a img{	width: 0.16rem;
				height: 0.16rem;
				display: block;
				margin-left: 0.38rem;
				margin-bottom: 0.05rem;
				margin-top: 0.08rem;
				      
}
#bottom a p{	font-size: 9px;
				color: #ADADAD;
				width: 100%;
				text-align: center;			
}
		
