#head{padding:13px 15px 13px 15px ;
	 border-bottom: solid 1px #EEEEEE;
	 background-color: white;}
#head a{display: block;height: 19px;width: 0.2rem;
		background-image: url(../img/pihead.png);
		background-repeat: no-repeat;
		background-size:12px 19px ;}
#head p{text-align: center;
        width: 40%;
        margin-left: 24.3%;
		font-size: 18px;
		color: #333333;
		}
#content{width:92%;
		margin-left: 4%;
		font-size: 15px;
		padding-top: 0.35rem;}
#content input{box-sizing: border-box;
				height: 0.45rem;
				border: solid #d7d7d7 1px;
				margin-bottom: 0.08rem;
				margin-top: 0.08rem;
				padding-left: 0.4rem;
				width: 100%;
				border-radius: 0.08rem;
				}
#phone{background-image: url(../img/form4.png);
							 background-repeat: no-repeat;
							 background-size: 0.20rem 0.22rem;
							 background-position:4%  50%;
	
								}
.repassword{background-image: url(../img/mima.png);
							 background-repeat: no-repeat;
							 background-size: 0.20rem 0.22rem;
							 background-position:4%  50%;
	                         }


button{width: 100%;
		height: 0.45rem;
		background: #7EB1FE;
		border: none;
		margin-top: 0.2rem;
		border-radius: 0.08rem;
		color: white;
		}
#constract{font-size: 13px;}
